<div class="figura"style="margin-left: 450px;">
        <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td>IDENTIFICACION:</td>
                        <td><input class="form-control input-sm" name="artistId" value="{{artistId}}"></td>
                      </tr>
                      <tr>
                        <br>
                        <td class='col-md-3'>Link:</td>
                        <td><input  class="form-control input-sm" name="link" value="{{link}}"></td>
                      </tr>
                    </tbody>
                  </table>
</div>