<link rel="stylesheet" href="/css/video/video.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <script src="./js/app.js" defer></script>


    <title>Crear Imagen</title>
</head>

<body>
.
<div id="menu">
            

           <div id="menu-arriba">
                <i class="bx bx-user"></i>
                <a id="col" style="text-decoration: none;" href="/profile">Perfiles</a>
            </div>

             <div id="menu-arriba">
                <i class='bx bx-music'></i>
                <a id="col" style="text-decoration: none;" href="/musics">Musica</a>
            </div>

            <div id="menu-arriba">
                <i class='bx bxs-videos' ></i>
                <a id="col" style="text-decoration: none;"href="/videos">Videos</a>
            </div>

            <div id="menu-arriba">
                <i class='bx bxs-image-add' ></i>
                <a id="col" style="text-decoration: none;" href="/Images">Imagenes</a>
            </div>
            <div id="menu-arriba">
                <i class='bx bx-stats' ></i>
                <a id="col" style="text-decoration: none;" href="/Stats">Estadisticas</a>
            </div>

         <form action="/Images/create" method="post" enctype="multipart/form-data">
          <div id="escribir">
             <table class="table table-condensed">
                 <h2 style="margin-left: 20%;">Seccion de Imagenes</h2><br>
                       <td><h3 id="texto1">Identificacion:</h3></td>
                        <td><input class="form-control input-sm" name="artist_id" style="width: 200%;" value="{{artist_id}}"></td>


                      <tr>
                        <td><h3 id="texto1">Imagen:</h3></td>
                        <td><input  class="form-control input-sm" name="picture" style="width: 200%;" value="{{picture}}"></td>
                      </tr>
                   
                  </table>
                  <br><br><br>
                  <button id="guarda" type="submit">Crear</button>
                </form>
               
               
                 <br>
               
                
</div>

</div>
</body>