<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/perfil.css">
</ul>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img src="https://indieec.github.io/assets/logops.png" alt=""
                style="height: 70px ; width: 70px; margin-top: 5px;">
            <a class="nav-link active" aria-current="page" href="https://indieec.github.io/"
                style="margin-left: 50px; margin-top: -110px;">Home</a>
        </div>
</nav>

<div class="figura"style="margin-left: 450px;">
        <table class="table table-condensed">
                    <tbody><br>
                      <tr>
                        <td>IDENTIFICACION:</td>
                        <td><input class="form-control input-sm" name="artistId" value="{{artistId}}" style="font-size: 75%;"></td>
                      </tr>
                      <tr>
                        <br>
                        <td class='col-md-3'>Link:</td>
                        <td><input  class="form-control input-sm" name="link" value="{{link}}"style="font-size: 75%;"></td>
                      </tr>
                      <tr>
                        <br>
                        <td class='col-md-3'>Agregar su Musica:</td>
                        <td><input  class="form-control input-sm" name="link" value="{{link}}"style="font-size: 75%;"></td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <br>
                  <button class="btn btn-primary" type="submit" tabindex="5" style="font-size:55%;">Guardar</button>
</div>
    <div class="menu-dashboard">

        <!-- MENU -->
        <div class="menu">
            <div class="enlace" >
                <i class="bx bx-user"></i>
                <text>Usuarios</text>
            </div>
            
            <div class="enlace">
                <i class="bx bx-grid-alt"></i>
                <text>Usuarios</text>
            </div>

            <div class="enlace">
                <i class="bx bx-message-square"></i>
               <text>Usuarios</text>
            </div>

            <div class="enlace">
                <i class="bx bx-file-blank"></i>
                <span>Archivos</span>
            </div>


           

           
        </div>
    </div>
    
</body>