<link rel="stylesheet" href="/css/stats/stats.css">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuración de compra</title>
</head>

<body>


<div id="menu">
            <div id="menu-arriba">
                <i class="bx bx-grid-alt"></i>
                <span>Perfil</span>
            </div>

            <div id="menu-arriba">
                <i class="bx bx-user"></i>
                <a style="text-decoration: none;" href="/profile">Perfiles</a>
            </div>

 <div id="menu-arriba">
                <i class="bx bx-user"></i>
                <a style="text-decoration: none;" href="/musics">Musica</a>
            </div>

            <div id="menu-arriba">
                <i class="bx bx-grid-alt"></i>
                <a style="text-decoration: none;" href="/videos">Videos</a>
            </div>

            <div id="menu-arriba">
                <i class="bx bx-grid-alt"></i>
                <a style="text-decoration: none;" href="/Images">Imagenes</a>
            </div>

<div id="menu-arriba">
                <i class="bx bx-grid-alt"></i>
                <a style="text-decoration: none;" href="/stats">Estadisticas</a>
                
            </div>
            
            <div id="escribir2">
                <h2 style="color: black;">Oyente del Mes</h2>
                <br>
            <td><input  class="form-control input-sm" name="link" style="width: 100%; font-family:cursive" value="{{month_listeners}}"></td>
       
            </div>
 <div id="escribir3">
             <table class="table table-condensed">
                <h2 style="color: black;">Dia mas Escuchado</h2>
                <br>
            <td><input  class="form-control input-sm" name="link" style="width: 100%; font-family:cursive" value="{{day_play_songs}}"></td>

            </table> 
</div>
<div id="escribir4">
             <table class="table table-condensed">
                <h2 style="color: black;">Año con mas Seguidores</h2>
                <br>
    <td><input  class="form-control input-sm" name="link" style="width: 120%; font-family:cursive" value="{{year_followers}}"></td>

            </table> 
</div>


      <div id="escribir">
        <h2 style="color: black;">ID USER</h2>
                <br>
             <table class="table table-condensed">
    <td><input  class="form-control input-sm" name="link" style="width: 30%; font-family:cursive" value="{{artistId}}"></td>

            </table> 
</div>
</body>

