<link rel="stylesheet" href="/css/stats/stats.css">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Estadisticas</title>
</head>

<body>
    <br>

    <div id="menu">
        <h1 style="margin-left: 255%; color: rgb(255, 255, 255);">Estadisticas</h1>


        <div id="menu-arriba">
            <i class="bx bx-user"></i>
            <a id="col" style="text-decoration: none;" href="/profile">Perfiles</a>
        </div>

        <div id="menu-arriba">
            <i class='bx bx-music'></i>
            <a id="col" style="text-decoration: none;" href="/musics">Musica</a>
        </div>

        <div id="menu-arriba">
            <i class='bx bxs-videos'></i>
            <a id="col" style="text-decoration: none;" href="/videos">Videos</a>
        </div>

        <div id="menu-arriba">
            <i class='bx bxs-image-add'></i>
            <a id="col" style="text-decoration: none;" href="/Images">Imagenes</a>
        </div>

        <div id="menu-arriba">
            <i class='bx bx-stats'></i>
            <a id="col" style="text-decoration: none;" href="/stats">Estadisticas</a>

        </div>



        <br><br><br>


        <div id="escribir">
            <h2
                style="color: rgb(0, 0, 0);font-family:cursive;margin-left:26%;margin-top:3%;width: 60%;font-size:25px;">
                Id del Usuario: </h2>
            <br>
            <p
                style="margin-top: -8%;margin-left:88%;color:rgb(0, 0, 0);font-family:cursive;width: 60%;font-size:25px">
                {{artistId}}</p>
        </div>

        <div id="escribir5">
        </div>

        <div id="escribir2">
            <h2
                style="color: rgb(0, 0, 0);font-family:cursive;margin-left:26%;margin-top:4%;width: 60%;font-size:20px;">
                Oyente mas Frecuente:</h2>
            <br>
            <p style="margin-top: -8%;margin-left:80%;color:rgb(0, 0, 0);;width: 60%;font-size:40px">
                {{month_listeners}}</p>

        </div>
        
        <div id="escribir5">
        </div>

        <div id="escribir3">
            <h2 style="color: rgb(0, 0, 0);font-family:cursive;margin-left:26%;margin-top:3%;width: 60%;font-size:25px;">Dia Mas Escuchado: </h2>
            <br>
            <p style="margin-top: -8%;margin-left:80%;color:rgb(0, 0, 0);;width: 60%;font-size:40px">
                {{day_play_songs}}</p>
        </div>

        <div id="escribir6">
        </div>

        
        <div id="escribir4">
            <h2
                style="color: rgb(0, 0, 0);font-family:cursive;margin-left:1%;margin-top:3%;width: 60%;font-size:25px;">
                Año con mas Seguidores:</h2>
            <br>

            <<p style="margin-top: -9.7%;margin-left:50%;color:rgb(0, 0, 0);;width: 60%;font-size:20px">
                {{year_followers}}</p>

        </div>
        <div id="escribir7">
        </div>


</body>