<link rel="stylesheet" href="/css/catalogueList/catalogueList.css" />
<head>
  <title>Administración</title>
</head>
{{>adminNavbar}}
<body>
  <div id="wrap">
    <h1 id="catalogue-title">Administración</h1>
    <div id="home-container">
      <img
        src="https://indieec.github.io/assets/logops.png"
        alt="logo"
        id="logo-home"
      />
    </div>
  </div>
</body>