<link rel="stylesheet" href="/css/catalogueList/catalogueList.css" />
<head>
  <title>Catalogos</title>
</head>

<body>
  <div id="wrap">
    <h1 id="catalogue-title">Home</h1>
    <div id="store-wrapper">
      <section id="catalogue-list">
      </section>
    </div>
  </div>
</body>