<h1>Home</h1>

<div id="escribir3">
             <table class="table table-condensed">
                <h2 style="color: black;">Dia mas Escuchado</h2>
                <br>
            <td><input  class="form-control input-sm" name="link" style="width: 100%; font-family:cursive" value="{{day_play_songs}}"></td>

            </table> 
</div>
<div id="escribir4">
             <table class="table table-condensed">
                <h2 style="color: black;">Año con mas Seguidores</h2>
                <br>
    <td><input  class="form-control input-sm" name="link" style="width: 120%; font-family:cursive" value="{{year_followers}}"></td>

            </table> 
</div>


      <div id="escribir">
        <h2 style="color: black;">ID USER</h2>
                <br>
             <table class="table table-condensed">
    <td><input  class="form-control input-sm" name="link" style="width: 30%; font-family:cursive" value="{{artistId}}"></td>

            </table> 

</div>