<link rel="stylesheet" href="/css/navbar/navbar.css" />
<nav id="navbar">
  <div id="navbar-container">
    <a id="nav-link" aria-current="page" href="/requests">Solicitudes</a>
    <a id="nav-link" aria-current="page" href="/products">Productos</a>
    <a id="nav-link" aria-current="page" href="/create-product">Crear Producto</a>
    <a id="nav-link" aria-current="page" href="/products">Crear Catalogo</a>
  </div>
</nav>