<link rel="stylesheet" href="/css/navbar/navbar.css" />
<nav id="navbar">
  <div id="navbar-container">
    <img
      src="https://indieec.github.io/assets/logops.png"
      alt="logo-navbar"
      id="nav-logo"
    />
    <a id="nav-link" aria-current="page" href="/artist-catalogue">Home</a>
    <a id="nav-link" aria-current="page" href="/requests/1">Mis solicitidues</a>
    <a id="nav-link" aria-current="page" href="/requests">Solicitudes</a>
    <a id="nav-link" aria-current="page" href="/products">Productos</a>
    <a id="nav-link" aria-current="page" href="/products">Crear nuevo Producto</a>

  </div>
</nav>