<link rel="stylesheet" href="/css/productCategory/productCategory.css">

<head>
    <title>Catalogos</title>
</head>

<body>
    <div id="wrap">
        <h1>Elige una banda</h1>
        impu
    </div>
</body>