<link rel="stylesheet" href="/css/productCategory/productCategory.css">

<head>
    <title>Catalogos</title>
</head>

<body>
    <div id="wrap">
        <h1>Elige una banda</h1>
        <td><input class="form-control input-sm" name="artistId" style="width: 200%;" value="{{artistId}}"></td>
    </div>
</body>