<link rel="stylesheet" href="/css/productCategory/productCategory.css">

<head>
    <title>Catalogos</title>
</head>

<body>
    <div id="wrap">
        <h1>Elige tu banda favorita</h1>
        <div id="store-wrapper">
            <section id="product-list">
                 {{#each catalogueItems}}
                <div id="product-item" category="catalogue">
                <div id="product-container">
                <div id="card">
                  <img src="https://promocionmusical.es/wp-content/uploads/2018/05/crossroads-MSG-merch-stand-2-810x554.jpg" id="card-img-top" alt="product-image">
                    <div id="card-body">
                    <h3 id="card-title">{{ite}}</h5>
                    <p id="card-body">Numero de artista: {{artistId}}</p>
                    <p id="card-text">Descripcion del producto: {{description}}</p>
                    <a href="/artist-catalogue/{{id}}" id="btn-primary">Ver detalles</a>
                    </div>
                </div>
                   </div>
            </div>
            {{/each}}
            </section>
        </div>
    </div>
</body>