<link rel="stylesheet" href="/css/productCategory/productCategory.css">

<head>
    <title>Catalogos</title>
</head>

<body>
    <table>
    <tr>
        <th>Elige tu banda faborita</th>
    </tr>
    {{#ea}}
        <tr>
            <td>{{this}}</td>
        </tr>
    {{/each}}
</table>
</body>