/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


:root {
    --blanco: #ffffff;
    --azul-opacidad: #ffffff00;
    --bg-menu: #1a0f4d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    color: var(--blanco);
    background-image: url("/images/undraw.svg");
    background-position: 100% 10%;
    background-size: 550px 800px;
    background-repeat: no-repeat;
}

#menu{
    max-width: 290px;
    height: 100vh;
    background: var(--bg-menu);
    padding: 20px;
    border-radius: 8px;

}

#menu-arriba {
    padding: 15px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;   
}


#escribir{
   margin-top: -130%;
   margin-left: 115%;
   background-image: url("/images/yuki.gif");
   background-size: 200px 200px;
   background-repeat: no-repeat;
   width: 200px;
   padding: 43px;
   background-color: rgb(93, 113, 204);
   color: white;
   border-radius: 8px;
}
#escribir2{
    margin-top: -78%;
    margin-left: 200%;
    background-image: url("/images/yuki.gif");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 200px;
    padding: 43px;
    background-color: rgb(93, 113, 204);
    color: white;
    border-radius: 8px;
}
#escribir3{
    margin-top: -78%;
    margin-left: 284%;
    background-image: url("/images/yuki.gif");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width: 200px;
    padding: 43px;
    background-color: rgb(93, 113, 204);
    color: white;
    border-radius: 8px;
}

#escribir4{
    margin-top: -78%;
    margin-left: 369%;
    background-image: url("/images/yuki.gif");
    background-size: 305px 200px;
    background-repeat: no-repeat;
    width: 305px;
    padding: 43px;
    background-color: rgb(93, 113, 204);
    color: white;
    border-radius: 8px;
}

#col{
    color: rgb(199, 195, 195);
   
}


#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #img-fluid{
        width: 350px;
        height: 350px;
    }

#cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
#details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-img-top{
    width: 250px;
    height: 300px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 10px;
}
#list-group{
    font-size: 19px;
   
}


#guarda{
    background-color: rgb(0, 123, 255);
    color: white;
    width: 130px;
    height: 40px;
}
#guarda2{
    background-color: rgb(255, 0, 0);
    color: white;
    width: 130px;
    height: 40px;
    margin-left: 30%;
    margin-top: -8.5%;
}


@media screen and (max-width: 1000px) {
    

    
}