#requests-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50;
    padding: 40;
}
#product-image{
    width: 50px;
    height: 50px;
}
#requests-table{
    background-color: white;
}

#save-btn{
  text-decoration: none;
  color: white;
  width: 70px;
  height: 40px;
  background-color: rgb(0, 123, 255);
  padding: 10px;
  font-weight: 500;
  border-radius: 25px;
  margin-top: 10px;
}
#delete-btn{
  text-decoration: none;
  color: white;
  width: 70px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  padding: 10px;
  font-weight: 500;
  border-radius: 25px;
  margin-top: 10px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #07535f;
    color: white;}