body {
    background-color: gray;
}
#cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
#card{
    width: 300px;
    height: 600px;
    background-color: rgb(14, 80, 90);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  
}
#details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-img-top{
    width: 250px;
    height: 300px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 10px;
}
#list-group{
    font-size: 19px;
   
}

#list-group-item{
    margin-top: 25;
}
#return-btn{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid white;
    width: 70px;
    height: 20px;
    text-align: center;
}
#btn-primary{
    text-decoration: none;
    color: white;
    width: 190px;
    height: 20px;
    background-color: rgb(0, 123, 255);
    margin-top: 10px;
    padding: 10px;
    font-weight: 500;
    border-radius: 25px;
}

#remove-btn{
    text-decoration: none;
    color: white;
    width: 190px;
    height: 40px;
    background-color: rgb(233, 19, 19);
    padding: 10px;
    font-weight: 500;
    border-radius: 25px;
    font-size: 17px
}

@media screen and (max-width: 1000px) {
    

    
}